{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container mt-4">
        <div class="content-container">
            <h2>Listing: {{ listing.Title }}</h2>

            {% if user.id == listing.user.id %}
                {% if listing.active %}
                    <form action="{% url 'closeAuction' listing.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger mt-3">Close Auction</button>
                    </form>
                {% else %}
                    <button type="button" class="btn btn-secondary mt-3">Auction Closed</button>
                {% endif %}
            {% elif not listing.active %}
                <button type="button" class="btn btn-secondary mt-3">Auction Closed</button>
            {% endif %}
        
            {% if user.id != listing.user.id %}
                {% if Watchlist.isWatchlisted %}
                    <form action="{% url 'addWatchlist' listing.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success mt-3">Watchlisted</button>
                    </form>
                {% else %}
                    <form action="{% url 'addWatchlist' listing.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-dark mt-3">Watchlist</button>
                    </form>
                {% endif %}
            {% endif %}
            
            <div class="row my-4">
                <div class="col-md-6">
                    <img src="{{ listing.imgLinks }}" alt="{{ listing.Title }} image" class="img-fluid" style="max-width: 100%; height: auto;">
                </div>
                <div class="col-md-6">
                    <p>{{ listing.description }}</p>
                    <h2>${{ listing.startingBid }}</h2>

                    {% if bid_win is None and user.id != listing.user.id %}
                        <form action="{% url 'bidding' listing.id %}" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-primary" type="submit">Place Bid</button>
                        </form>
                    
                    {% elif user.id == listing.user.id and bid_win is None %}
                        <p>{{ bid_count }} bids have taken place</p>
                        <p>So far <strong>${{ max_bid }}</strong> is the Max Bid</p>

                    {% elif bid_win and user.id == listing.user.id %}
                        <p>Bidder <strong>{{ bid_win.bidWinner }}</strong> has won the bid</p> 

                    {% elif bid_win and bid_win.bidWinner.id == user.id %}
                        <div class="row my-4">
                            <div class="col-md-12">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <h3 class="card-title">🎉 Congratulations! 🎉</h3>
                                        <p class="card-text"><strong>{{ bid_win.bidWinner | capfirst }}!</strong> You have won the auction!</p>
                                        <p class="card-text">🎊🥳🎈</p>
                                        <a href="#" class="btn btn-primary">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    {% endif %}
                </div>
            </div>

            <h3 class="mt-4">Details</h3>
            
            <ul>
                <li>Listed by: <strong>{{ listing.user }}</strong></li>
                {% if listing.category %}
                    <li>Category: <a href="{% url "category" listing.category %}"><strong>{{ listing.category }}</strong></a></li>
                {% else %}
                    <li>Category: No Category Listed</li>
                {% endif %}
            </ul>
            
            <div class="comment-section mt-4 col-md-4 my-3">
                {% if commentList %}
                <h5 class="mt-4">Comments</h5>
                    {% for comment in commentList %}
                        <div class="comment mb-3">
                            <p><strong>{{ comment.user }}</strong>: {{ comment.comment }}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No comments yet.</p>
                {% endif %}
                <form action="{% url 'submitComment' listing.id %}" method="POST" id="comment_form">
                    {% csrf_token %}
                    {{ commentForm.as_p }}
                    <button type="submit" class="btn btn-primary mt-3">Comment</button>
                </form>
            </div>
            
            
        </div>
    </div>
{% endblock %}
