{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist Listed</h2>
    {% for content in contents %}
        <div class="border d-flex flex-wrap my-4" style="overflow-y: hidden;">
            <img class="col-md-4 px-5" style="max-height: 16.5em; max-width: 100%;" src="{{ content.listing.imgLinks }}" alt="auction item">
            <div class="col-md-8 p-3 flex-grow-1">
                <h3> <a href="{% url 'listing' content.listing.id %}"> {{ content.listing.Title }}   </a></h3>
                <p><strong>Price:</strong> ${{ content.listing.startingBid }}</p>
                <p>{{ content.listing.description }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}